.card-body{
    width:22em;
    height: 20em;
    color: aliceblue;
    background-color: rgba(30,30,30,0.9);;
    margin: 2% 2% 2% 2%;
    border-radius: 4px;
}
.card-logo{
    /* color: brown;
    position: relative;
    top: 10px;
    left: 10px; */
    color: #e8f9fd;
    
}
.card-icons-row{
    display: flex;
    justify-content: space-between;
    margin: 12px 0px 0px 5px;

}
.card-iconrow-links{
    display: flex;
}
.card-iconrow-link{
    margin: 0% 10px 0% 0px;
}
.card-heading{
    margin:3% 0% 0% 2%;
    font-size: 28px;
    font-weight: 600;
}
.card-footer{
   display: flex;
    color: aliceblue;
}
.card-footer-skills{
    margin: 0% 3% 0% 2%;
}