.starting{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}
.starting-left-section{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    width: 47%;
    margin-left: 3%;
    /* background-color: rgba(30,30,30,0.9); */
}
.starting-animation{
    display: block;
    margin-top: 3%;
    position:relative;
     top:20px;
     right:10%;
}
.starting-heading{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image:linear-gradient(100.51deg, #984ED6 0%, #370486 100%);
    font-weight: 1000;
    font-size: 29px;
    letter-spacing: 0;
    margin: 3% 0% 0% 0%;
    font-family: 'Jost';
    font-style: normal;
    /* animation: lightSpeedInLeft; */
    animation: bounce;
    animation-duration: 3s;
}

.starting-subheading{
    letter-spacing: 0;
    margin: 0% 0% 3% 0%;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Jost';
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 4s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
.starting-paragraph{
    letter-spacing:1px;
    line-height: 28px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Jost';
    font-style: normal;
}

 
@media only screen and (max-width: 600px) {
    .starting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .starting-left-section{
        width: 100%;
        margin: 0% 0% 0% 0%;
    }
}